<h1>Editar Professional Attention Mode</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @professional_attention_mode %> |
	<%= link_to "Professional Attention Modes", professional_attention_modes_path %>
</p>
