<h1>Servicio</h1>
<p>
	<strong>Name:</strong>
	<%= @service.name %>
</p>
<p>
	<%= link_to "Editar", edit_service_path(@service) %> |
	<%= link_to "Eliminar", @service, :confirm => 'Esta seguro?', :method => :delete %> |
	<%= link_to "Servicios", services_path %>
</p>
