<h1>Editar Especialidad por Nomenclador</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @specialty_nomenclature %> |
	<%= link_to "Especialidades por Nomenclador", specialty_nomenclatures_path %>
</p>
