<h1>Editar Patient Health Insurance</h1>

<%= render 'form' %>

<p>
	<%= link_to "Ver", @patient_health_insurance %> |
	<%= link_to "Patient Health Insurances", patient_health_insurances_path %>
</p>
