= navigation(:id => "main-navigation") do |menu|
  - if current_user.can_operated_engine?(:odiseo) 
    - menu.item(Entry.model_name.human.pluralize, entries_path, :active => controller.controller_name.include?('entries'))
    - menu.item(Exercise.model_name.human.pluralize, exercises_path, :active => controller.controller_name.include?('exercises'))
  - if current_user.can_operated_engine?(:ares) 
    - menu.item(Cliente.model_name.human.pluralize, clientes_path, :active => controller.controller_name.include?('clientes'))
    - menu.item('Tasa de IVA', tasaivas_path, :active => controller.controller_name.include?('tasaivas'))
    - menu.item('Condiciones de IVA', condicionivas_path, :active => controller.controller_name.include?('condicionivas'))
    - menu.item('Referencias contables', refenciacontables_path, :active => controller.controller_name.include?('refenciacontables'))
  - if current_user.can_operated_engine?(:hefesto) 
    - menu.item(Supplier.model_name.human.pluralize, suppliers_path, :active => controller.controller_name.include?('suppliers'))
  - if current_user.can_operated_engine?(:ares) 
    - menu.item(Product.model_name.human.pluralize, products_path, :active => controller.controller_name.include?('products'))
    - menu.item(Country.model_name.human.pluralize, countries_path, :active => controller.controller_name.include?('countries'))
    - menu.item(Province.model_name.human.pluralize, provinces_path, :active => controller.controller_name.include?('provinces'))

