- content_for(:title) do
  %h1= t('scaffold.actions.edit', :item => Refenciacontable.model_name.human).titlecase

= render 'form'

= link_to t('scaffold.actions.show').titlecase, @refenciacontable
\|
= link_to t('scaffold.actions.back').titlecase, refenciacontables_path

